[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Pulse Plating - Dynatronix– Dynatronix
Type=Link
URL=http://www.dynatronix.com/learn/pulse-plating/
Icon=text-html
