[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Cromado de Plástico | Tecnología de los Plásticos
Type=Link
URL=http://tecnologiadelosplasticos.blogspot.com.ar/2011/06/cromado-de-plastico.html
Icon=text-html
