[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Making Through Hole Activator for Copper Plating (on a budget) - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=s3GY-j4Gh0E
Icon=text-html
