[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Droguería Prest S.A
Type=Link
URL=http://www.prest-sa.com/
Icon=text-html
Name[es_AR]=Enlace hacia Droguería Prest S.A - NO TIENEN - queda cerca de estacion Yrigoyen - Barracas
