[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia M.C. ZAMUDIO - Proveedor de Todos nuestros Productos y Servicios en QuimiNet.com
Type=Link
URL=http://www.quiminet.com/shr/es/m-c-zamudio-238283163/productos.htm
Icon=text-html
