[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Prest - Proveedor de Todos nuestros Productos y Servicios en QuimiNet.com
Type=Link
URL=http://www.quiminet.com/shr/es/prest-155087545/productos.htm
Icon=text-html
