[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Resultados de búsqueda de proveedores de CALCIO HIPOFOSFITO en Argentina | QuimiNet.com
Type=Link
URL=http://www.quiminet.com/principal/resultados_busqueda.php?N=CALCIO+HIPOFOSFITO&pais=2&d=P
Icon=text-html
