[Desktop Entry]
Version=1.0
Type=Link
Name=Kit de metalizado
Comment=
Icon=user-bookmarks
URL=https://caswellplating.com/electroless-copper-kit-1-pint.html
