[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia PCB Through-Hole Plating without Hazardous Chemicals - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=MVyynHoGmfo
Icon=text-html
