[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Definición de Hipofosfito de calcio o cálcico - Meaning
Type=Link
URL=http://www.lahistoriaconmapas.com/historia/historia2/definicion-de-hipofosfito-de-calcio-o-calcico/
Icon=text-html
