[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Electrochemically plated vias for homemade PCBs « Dangerous Prototypes
Type=Link
URL=http://dangerousprototypes.com/blog/2012/01/19/diy-electro-chemicly-plated-vias-for-homede-pcbs/
Icon=text-html
