[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Industrial-level quality PCB through hole plating
Type=Link
URL=http://www.instructables.com/id/Inexpensive-method-of-industrial-level-quality-PCB/
Icon=text-html
