[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Markets & Products - Dow Electronic Materials
Type=Link
URL=http://www.dowelectronicmaterials.com/products/printed_circuit_boards/
Icon=text-html
