[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Think & Tinker Instrument Prototyping
Type=Link
URL=http://www.thinktink.com/stack/volumes/volvi/copplate.htm
Icon=text-html
